*{
    margin: 0;
    padding: 0;


}



.login-form{
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

 .container-div{ 

    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px; 
    align-items: center; 
    justify-content: center ;  
    display: table-cell;
}

/* .btn-google{
    display: flex;
    height: 100px;
    width: 100px; 
    align-items: center; 
    justify-content: center ;  
}
 */






















/* body{
    background-color: white;
    justify-content: center;
    align-content: center;
    margin-top: 40%;
} */

/* 
.inputLogin{
 border-style: solid;
 border-color: transparent;
 color:#E0D934;
 font-family: Handlee;
 text-align: center;
}

.PassLogin{
    border-style: solid;
    border-color: transparent;
    color:#E0D934;
    font-family: Handlee;
    text-align: center;
}

.ButtonLogin{
    border-style: solid;
    border-color: transparent;
    background-color: #88D724;
    color: black;
    font-family: Handlee;
    text-align: center;
    width: 2cm;
}

.ButtonLoginGoogle{
    border-style: solid;
    background-color: #88D724;
    border-color: transparent;
    color: black;
    font-family: Handlee;
    text-align: center;
    width: 4cm;


}
 */